.about-page{
  position: relative;
}

.about-page .change-lenguage {
  background-color: var(--terracotta);
  width: 184px;
  position: absolute;
  right: 0;
  top: 1rem;
  padding: 5px 9px;
}

.about-page .change-lenguage .change-lenguage-link {
  color: white;
  font-family: "Proxima Nova Regular";
  font-size: 1.05rem;
  text-align: center;
}

.about-page .change-lenguage:hover {
  background-color: white;
}

.about-page .change-lenguage .change-lenguage-link:hover {
  color: var(--terracotta);
  font-family: "Proxima Nova Bold";
}


.about-page .about-section-2 p,
.about-page .about-section-3 p,
.about-page .about-section-4 p,
.about-page .about-section-5 p {
  color: var(--darkgreen);
  font-size: 1.2rem;
}

.about-banner {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4/1;
  color: white;
  min-height: 650px;
}

.about-banner-container {
  height: 100%;
}

.about-banner-container h1 {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.about-banner-container p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 15px;
  width: 75%;
}

.duration {
  align-items: center;
  height: min-content;
  padding: 0.5rem;
}

.duration .duration-calendar {
  height: 5rem;
}

.about-introduction {
  align-content: center;
}

.duration,
.about-introduction {
  flex: 1;
}

.about-section-3-box {
  width: 60%;
}

.about-section-3 .planning,
.about-section-3 .design,
.about-section-3 .technologies,
.about-section-3 .db-deployment {
  border: 3px var(--lightgreen) solid;
  border-radius: 2px;
  padding: 10px;
}

.about-section-3 .planning p,
.about-section-3 .design p,
.about-section-3 .technologies p,
.about-section-3 .db-deployment p {
  font-size: 1.1rem;
}

.about-planning-text {
  width: 80%;
}

.about-icons-planning {
  width: 25%;
}

.about-icons-planning,
.about-icons-design,
.about-icons-db-deployment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 74px;
  font-family: "Proxima Nova Regular";
  color: var(--darkgreen);
}

.about-icons-planning .about-icons-planning-box p,
.about-icons-design .about-icons-design-box p,
.about-icons-technologies .row .col-3 p,
.about-icons-db-deployment .about-icons-db-deployment-box p {
  font-family: "Proxima Nova Regular";
  color: var(--lightgreen);
  font-size: 1rem;
}

.about-icons-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.about-logo-box {
  height: 45px;
  width: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.db-deployment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 53.8%;
}

.design {
  height: 45%;
}

.about-section-3 .container .planning h4,
.about-section-3 .container .design h4,
.about-section-3 .container .technologies h4,
.about-section-3 .container .db-deployment h4,
.about-section-3 .container .duration h4 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--mediumgreen);
  font-size: 1.8rem;
}

.planning-description,
.design-description,
.technologies-description,
.db-deployment-description {
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--darkgreen);
  font-size: 1rem;
}

.about-section-5-title,
.about-section-4 h4,
.about-team-container h4 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--mediumgreen);
  font-size: 2.2rem;
}

.about-section-5-text {
  width: 65%;
}

.diagram-1 {
  max-width: 350px;
}

.about-model {
  min-width: 100px;
  max-width: 130px;
}

.about-section-3 .container .design h5 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--mediumgreen);
  font-size: 1.8rem;
}

.about-section-5-text p,
.front-end p {
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--darkgreen);
  font-size: 1rem;
}

.about-logos h5,
.about-colors-fonts h5 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--almond);
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.plantasia-album {
  max-width: 230px;
}

.frontend-main-logo,
.frontend-secondary-logos,
.frontend-colors-palette,
.frontend-fonts {
  max-width: 40%;
}

.about-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-team-card {
  text-align: center;
  width: 10%;
  margin-bottom: 0.5rem;
}
.about-team-card img {
  border-radius: 2px;
  max-width: 100%;
  transition: transform 0.3s;
}
.about-team-card:hover img {
  transform: scale(1.05);
}
.about-team-card p {
  font-family: "Proxima Nova Regular";
  color: var(--mediumgreen);
  margin-bottom: 0;
  font-size: 1.2rem;
  white-space: nowrap;
}
.about-team-card span {
  color: var(--darkgreen);
  font-size: 0.7rem;
}
.about-team-card-icons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.about-team-card-icons i {
  color: var(--almond);
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .about-section-3-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-section-3-box {
    width: 100%;
  }

  .about-planning-text {
    width: 100%;
  }

  .about-icons-planning {
    width: 100%;
  }

  .about-section-5-text {
    width: 100%;
  }

  .frontend-main-logo,
  .frontend-secondary-logos,
  .frontend-colors-palette,
  .frontend-fonts {
    max-width: 80%;
  }
  .about-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-team-card {
    width: 26%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about-section-3-box {
    width: 40%;
  }
  .technologies {
    width: 60%;
  }
  .about-icons-planning {
    flex-direction: column;
    height: 190px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
}
