.about-banner {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4/1;
  color: white;
  min-height: 650px;
}

.about-banner-container {
  height: 100%;
}

.about-banner-container h1 {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.about-banner-container p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 15px;
  width: 75%;
}



.duration {
  align-items: center;
  height: min-content;
  padding: 0.5rem;
}

.duration .duration-calendar {
  height: 5rem;
}

.about-introduction {
  align-content: center;
}

.duration,
.about-introduction {
  flex: 1;
}

.about-section-3-box {
  width: 60%;
}

.about-section-3 .container .planning,
.about-section-3 .container .design,
.about-section-3 .container .technologies,
.about-section-3 .container .db-deployment {
  border: 3px var(--lightgreen) solid;
  border-radius: 2px;
  padding: 10px;
}

.about-planning-text {
  width: 80%;
}

.about-icons-planning {
  width: 25%;
}

.about-icons-planning,
.about-icons-design,
.about-icons-db-deployment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 74px;
  font-family: "Proxima Nova Regular";
  color: var(--darkgreen);
}

.about-icons-planning span,
.about-icons-design span,
.about-icons-technologies span,
.about-icons-db-deployment span {
  font-family: "Proxima Nova Regular";
  color: var(--darkgreen);
}

.about-icons-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
  
  .about-logo-box {
    height: 50px;
    width: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .db-deployment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-icons-db-deployment{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.about-section-3 .container .planning h4,
.about-section-3 .container .design h4,
.about-section-3 .container .technologies h4,
.about-section-3 .container .db-deployment h4,
.about-section-3 .container .duration h4 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--mediumgreen);
  font-size: 1.8rem;
}

.about-section-3 .container .planning p,
.about-section-3 .container .design p,
.about-section-3 .container .technologies p,
.about-section-3 .container .db-deployment p 
.about-section-3 .container .db-deployment p
{
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--darkgreen);
  font-size: 1rem;
}

.about-section-4 .container .back-end h4,
.about-section-5 .container h4 {
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--mediumgreen);
  font-size: 2.2rem;
}

.about-section-4 .container .back-end p,
.about-section-5 .container .front-end p {
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--darkgreen);
  font-size: 1rem;
}

.front-end {
  display: flex;
  flex-direction: row;
}
.front-end img {
  width: 20%;
}

.aboutus-team {
  font-family: "Proxima Nova";
  color: var(--darkgreen);
  font-size: 20px;
  text-align: center;
  margin-bottom: 200px;
  width: 100%;
  padding: 0;
}

.aboutus-team h1 {
  font-family: "Galadali";
  width: 100%;
  padding: 0;
}

.aboutus-team-subtitle {
  font-size: 25px;
}

.aboutus-team-picture {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.aboutus-team-member h5 {
  color: var(--capuccino);
}

.aboutus-team-member h3 {
  margin-top: 10px;
}

.aboutus-team-member {
  margin-top: 40px;
}

.aboutus-team-button {
  border: none;
  background-color: white;
  font-size: 2.5rem;
  margin: 10px;
  margin-top: 0px;
  color: var(--capuccino);
}

.aboutus-team-button:hover {
  color: var(--darkgreen);
  transition: 0.3s ease;
}

.aboutus-team-memberscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media (max-width: 576px) {
  .about-section-3-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-section-3-box {
    width: 100%;
  }

  .about-planning-text {
    width: 100%;
  }
  
  .about-icons-planning {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about-section-3-box {
    width: 50%;
  }
  .technologies {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
}
