.checkout .product-img {
  width: 10%;
}

.checkout table th {
  color: var(--darkgreen);
}

.checkout table tbody td {
  vertical-align: top;
}

.checkout .quantity i {
  color: var(--almond);
}

.checkout .quantity i:hover {
  color: var(--lightgreen);
}

.checkout .quantity i:active {
  color: var(--capuccino);
}

.checkout .checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid var(--darkgreen);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  appearance: none;
  cursor: pointer;
}

.checkout .checkbox:checked {
  background-color: var(--darkgreen);
}

.checkout .radioBtn {
  width: 15px;
  height: 15px;
  border: 1px solid var(--darkgreen);
  border-radius: 10px !important;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3Ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e");
  appearance: none;
  cursor: pointer;
}

.checkout .radioBtn:checked {
  background-color: var(--darkgreen);
}

.checkout #order-notes {
  resize: none;
  border-color: var(--darkgreen);
}

.checkout .form-button {
  border: 1px solid var(--mediumgreen);
  background-color: var(--mediumgreen);
  color: #fff;
  padding: 5px 15px;
}

.checkout .form-button:hover {
  border: 1px solid var(--lightgreen);
  background-color: var(--lightgreen);
}

.checkout .form-button:active {
  border: 1px solid var(--almond);
  background-color: var(--almond);
}

.checkout .rounded-corner {
  border-radius: 2px !important;
}

.checkout label {
  color: var(--darkgreen);
}

.checkout input {
  border: 1px solid var(--darkgreen);
  border-radius: 2px !important;
  width: 100%;
}

.checkout input::placeholder {
  color: var(--almond);
}

.checkout .card-data-one,
.checkout .card-data-two {
  width: 50%;
}

.checkout .alert {
  top: -3rem;
}

@media (max-width: 768px) {
  .checkout .card-data-one,
  .checkout .card-data-two {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .checkout .product-img {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .checkout .product-img {
    width: 100%;
  }
}
