.form-div {
  /* background-color: var(--lightgreen); */
  border: solid;
  border-color: var(--lightgreen);
  padding: 1.5rem;
  border-radius: 2px;
}

.title-admin-user {
  color: var(--mediumgreen);
  font-size: 2.5rem;
}
.label-form {
  color: var(--capuccino);
}

.input-form {
  /* border: none; */
  color: var(--darkgreen);
  border: solid, 1px;
  border-color: var(--lightgreen);
  border-radius: 2px;
}

.select-form {
  /* border: none; */
  border: solid, 1px;
  border-color: var(--lightgreen);
  color: var(--darkgreen);
}

.confirm-button {
  background-color: var(--mediumgreen);
  color: hsl(0, 0%, 100%);
}

.profile-delete {
  text-decoration: none;
  color: var(--mediumgreen);
}

.modal-delete {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-delete .modal-container {
  max-width: 500px;
  width: 100%;
}

.modal-delete .modal-container .buttons .button-cancel {
  background-color: var(--almond);
  color: white;
  width: 100px;
  height: 45px;
}

.modal-delete .modal-container .buttons .button-delete {
  background-color: var(--terracotta);
  color: white;
  width: 100px;
  height: 45px;
}

@media (max-width: 372px) {
  .modal-delete .modal-container .buttons {
    flex-direction: column;
  }
  .modal-delete .modal-container .buttons .button-cancel,
  .modal-delete .modal-container .buttons .button-delete {
    width: 100%;
    margin-top: 10px;
  }
}
