.home-banner {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4/1;
  color: white;
  min-height: 650px;
}

.home-banner-container {
  height: 100%;
}

.home-banner-container h1 {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.home-banner-container p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 15px;
  width: 75%;
}

.home-banner-button {
  background-color: var(--capuccino);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  font-size: 1rem;
  width: fit-content;
  text-decoration: none;
  color: var(--terracotta);
  text-align: center;
  margin-top: 0.7rem;
  padding: 6px 15px;
  font-weight: 500;
}

.home-banner-button:hover {
  background-color: var(--terracotta);
  color: white;
}

.home-section-2-box {
  width: 65%;
  padding-right: 3rem;
}

.home-section-2-box a {
  color: var(--lightgreen);
  font-size: 1.4rem;
}

.home-section-2-link:hover {
  color: var(--mediumgreen);
  transform-origin: left;
  transform: scale(1.1);
  transition: 0.3;
}

.home-section-3-box a {
  color: var(--lightgreen);
  font-size: 1.4rem;
}

.home-section-3-link:hover {
  color: var(--mediumgreen);
  transform-origin: right;
  transform: scale(1.1);
  transition: 0.3;
}

.home-section-2-img img,
.home-section-3-img img {
  height: 100%;
}

.home-section-2-box h4,
.home-section-3-box h4 {
  color: var(--mediumgreen);
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.home-section-2-box p,
.home-section-3-box p {
  color: var(--darkgreen);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.home-section-2-plants,
.home-section-3-care-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.home-section-3-box {
  width: 65%;
  padding-left: 3rem;
}

.home-section-2-img,
.home-section-3-img {
  width: 35%;
}

.home-plant-product,
.home-care-product {
  width: 30%;
  position: relative;
}

.home-plant-product::after,
.home-care-product::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(77, 42, 14, 0.315) 10%,
    rgba(255, 255, 255, 0) 45%
  );
}

.home-span-start {
  position: absolute;
  left: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: white;
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  z-index: 1;
}

.home-span-end {
  background-color: var(--darkgreen);
  position: absolute;
  right: 0;
  bottom: 7px;
  padding: 1px 3px;
  color: white;
  font-family: "Proxima Nova Light";
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
}

.home-section-4-link {
  text-decoration: none;
  color: var(--terracotta);
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
}

.home-carrousel {
  width: 24.5%;
}

.home-carrousel img {
  aspect-ratio: 1/1;
}

@media (max-width: 400px) {
  .home-banner-container h1 {
    font-size: 1.9rem;
  }

  .home-banner-container p {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.6rem;
    padding: 3px 11px;
    align-self: center;
  }

  .home-span-start {
    padding-left: 0;
    padding-top: 0;
    font-size: 1rem;
  }

  .home-span-end {
    padding: 1px 2px;
    font-size: 0.6rem;
  }

  .home-banner {
    text-align: center;
    aspect-ratio: 4/3;
  }
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }
  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-3-box a,
  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .home-section-3-link:hover,
  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .home-section-4-link {
    font-size: 0.9rem;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .home-banner-container h1 {
    font-size: 1.9rem;
  }
  .home-banner-container p {
    font-size: 1.1rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.6rem;
    padding: 3px 11px;
    align-self: center;
  }

  .home-span-start {
    padding-left: 0.3;
    padding-top: 0.3;
    font-size: 1.2rem;
  }

  .home-span-end {
    padding: 1px 2px;
    font-size: 0.7rem;
  }

  .home-banner {
    text-align: center;
    aspect-ratio: 4/2;
  }
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }
  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }

  .home-section-3-box a,
  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-3-link:hover,
  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .home-banner-container h1 {
    font-size: 2.6rem;
  }

  .home-banner-container p {
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.9rem;
    padding: 4px 12px;
    align-self: center;
  }
  .home-banner {
    text-align: center;
    aspect-ratio: 4/2;
  }

  .home-span-start {
    font-size: 1.3rem;
  }

  .home-span-end {
    padding: 1px 2px;
    font-size: 0.75rem;
  }

  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-3-care-products {
    width: 100%;
  }

  .home-section-3-box a,
  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-3-link:hover,
  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .home-section-2-cards {
    margin: 1rem;
    padding-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-banner-container h1 {
    font-size: 2.4rem;
  }
  .home-banner-container p {
    font-size: 1.2rem;
  }

  .home-banner-button {
    font-size: 0.7rem;
  }

  .home-span-start {
    font-size: 1.1rem;
  }

  .home-span-end {
    padding: 1px 2px;
    font-size: 0.65rem;
  }

  .home-section-3-box {
    width: 65%;
    padding-left: 2rem;
  }
  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }

  .home-section-3-box a,
  .home-section-2-box a {
    color: var(--lightgreen);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .home-section-2-cards {
    margin: 1rem;
    padding-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}

.home-section-4-link {
  font-size: 1rem;
}

@media (min-width: 993px) and (max-width: 1200px) {
  .home-banner-container h1 {
    font-size: 2.7rem;
  }

  .home-banner-container p {
    font-size: 1.4rem;
  }

  .home-banner-button {
    font-size: 0.9rem;
  }

  .home-span-start {
    font-size: 1.6rem;
  }

  .home-span-end {
    padding: 1px 2px;
    font-size: 0.8rem;
  }

  .home-section-2-box {
    width: 65%;
    padding-right: 2rem;
  }

  .home-section-3-box {
    width: 65%;
    padding-left: 2rem;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }
}

@media (min-width: 992px) {
  .home-plant-product,
  .home-care-product {
    overflow: hidden;
  }
  .home-plant-product img,
  .home-care-product img {
    transition: 0.3s;
  }
  .home-plant-product:hover img,
  .home-care-product:hover img {
    transform: scale(1.05);
  }
}
