.card-one {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(180deg, rgba(32, 9, 3, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
    url(../backup_images/home/photo_plants.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-two {
  background-color: black;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(32, 9, 3, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
    url(../backup_images/home/photo_pots.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-three {
  background-color: black;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(32, 9, 3, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
    url(../backup_images/home/photo_care.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-four {
  background-color: black;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(32, 9, 3, 0.4) 0%, rgba(0, 0, 0, 0) 100%),
    url(../backup_images/home/photo_accessories.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-section-2-cards {
  width: 23%;
  height: 360px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.card-title {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 3.2rem;
}

.button-see-all {
  position: absolute;
  bottom: 5%;
  color: rgb(255, 255, 255);
  border-color: var(--almond);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 12rem;
  font-size: 1.5rem;
  padding: 3px;
}

.button-see-all:hover {
  color: white;
  background-color: #4f62265d;
  border: none;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .home-section-2-cards {
    width: 100%;
    height: 170px;
  }

  .card-title {
    font-size: 3rem;
    top: 8%;
  }

  .button-see-all {
    width: 20rem;
    font-size: 1.7rem;
  }
  .card-one {
    margin-bottom: 0.8rem;
  }

  .card-two {
    margin-bottom: 0.8rem;
  }
  .card-three {
    margin-bottom: 0.8rem;
  }

  .card-four {
    margin-bottom: 0.8rem;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .home-section-2-cards {
    width: 48%;
    height: 170px;
  }

  .card-title {
    font-size: 3rem;
    top: 5%;
  }

  .button-see-all {
    width: 10rem;
    font-size: 1.7rem;
  }
  .card-one {
    margin-bottom: 0.8rem;
  }

  .card-two {
    margin-bottom: 0.8rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .home-section-2-cards {
    margin: 0;
    width: 45%;
    height: 320px;
  }

  .card-title {
    font-size: 3.5rem;
    top: 8%;
  }

  .button-see-all {
    width: 11rem;
    font-size: 1.8rem;
  }
  .card-one {
    margin-bottom: 0.8rem;
  }

  .card-two {
    margin-bottom: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-section-2-cards {
    margin: 0;
    height: 250px;
  }

  .card-title {
    font-size: 2rem;
    bottom: 75%;
  }

  .button-see-all {
    width: 8rem;
    font-size: 1rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .card-title {
    font-size: 3.1rem;
  }

  .button-see-all {
    bottom: 5%;
    width: 11rem;
    font-size: 1.7rem;
  }
}
