.purchasing-modal .flower-loader {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f5a834;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
    var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
    var(--mediumgreen) -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
    var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
    var(--mediumgreen) -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
    var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
    var(--mediumgreen) -12px 12px 0 4px;
  -moz-animation: flower-loader 7s infinite ease-in-out;
  -webkit-animation: flower-loader 7s infinite ease-in-out;
  animation: flower-loader 7s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
  }
}
@keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: #000 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: #000 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, var(--mediumgreen) 12px 12px 0 4px,
      var(--mediumgreen) -12px 12px 0 4px, var(--mediumgreen) -12px -12px 0 4px,
      var(--mediumgreen) 12px -12px 0 4px;
  }
}

.purchasing-modal {
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
