.order-container {
  margin-bottom: 100px;
  font-family: "Proxima Nova";
  color: var(--darkgreen);
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 72px;
  text-align: center;
  margin-top: 20px;
}
.order-container p {
  color: var(--mediumgreen);
}

.order_list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead th {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

tbody td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.product-img {
  width: 70px;
  height: auto;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 0px;
}

.order_addresses,
.order_total {
  margin-top: 20px;
}

.order_addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}

.totalprice {
  margin: 0px;
  padding: 0px;
}
