.order-container {
  font-family: "Proxima Nova Regular";
  color: var(--darkgreen);
  text-align: center;
}

table th,
table td {
  color: var(--mediumgreen) !important;
  align-content: center;
  white-space: nowrap;
}

thead th {
  border-bottom: 1px solid var(--lightgreen);
}

tbody td {
  border-bottom: 1px solid var(--lightgreen);
}
.product_img_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-img {
  width: 100px;
  height: auto;
}
.product_name {
  white-space: wrap;
  padding-left: 0.2rem;
}

.order-list {
  display: flex;
  flex-direction: row;
}
.order_address {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.order_address p {
  width: 75%;
  align-self: center;
}

@media (max-width: 576px) {
  .order-list {
    display: flex;
    flex-direction: column;
  }
  .product_img_name {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .order-list {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
}
