.product-body {
  color: var(--mediumgreen);
  font-family: "Galadali";
}

.product-body-content {
  border-radius: 2px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  margin-bottom: 3.5rem;
}

.side-images {
  width: 20%;
}

h3 {
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}
.product-body-content-text {
  padding: 30px;
}

.product-body-goback:hover {
  color: #000;
  text-decoration: underline;
  transition: 0.3s ease;
}

.description-pharagraph {
  color: var(--lightgreen);
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.product-body-content-text-icons {
  display: flex;
  justify-content: space-around;
  color: var(--lightgreen);
  font-size: 3.5rem;
}
.counter-container-counterbutton {
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.counter-container-counterbutton:hover {
  background-color: var(--lightgreen);
  transition: 0.3s ease;
}
.counter-container-counterbutton:active {
  background-color: var(--mediumgreen);
  transition: 0.3s ease;
}

.counter-container {
  color: var(--darkgreen);
  font-size: 25px;
  margin: 0 0 20px 0;
}

.product-submitbutton {
  border: none;
  padding: 10px;
  width: 100%;
  font-family: "Proxima Nova Regular";
  background-color: var(--mediumgreen);
  color: white;
}
.product-submitbutton:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s ease;
}
.product-submitbutton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.3s ease;
}
.recomended {
  color: var(--darkgreen);
}
.product-recomended-plant h4,
.product-recomended-plant p,
.product-recomended-plant b {
  margin: 0;
  padding: 0;
}
.recomended-title {
  font-size: 2.1rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-body-content-text-icons {
    font-size: 3rem;
  }
  .side-images {
    width: 25%;
  }
  .product-body-content-text-icons {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .product-body-content-text-icons {
    font-size: 2rem;
  }
  .product-body-content-text .content-text p {
    font-size: 1.2rem;
  }
  .recomended .product-list .product-item {
    width: calc(50% - 27px);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .product-body-content {
    display: flex;
    flex-direction: column;
  }
  .recomended-title {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .product-body-content {
    display: flex;
    flex-direction: column;
  }
  .photo-product {
    height: 60vh !important;
  }
}
