.form-div {
  border: solid;
  border-color: var(--lightgreen);
  padding: 1.5rem;
  border-radius: 2px;
}

.profile-title {
  color: var(--mediumgreen);
  font-size: 2.5rem;
}

.info-user {
  color: var(--darkgreen);
  border-bottom: 1px solid var(--lightgreen);
  margin-bottom: 0.7rem;
}

.label-info-user {
  color: var(--capuccino);
}

.edit-info-button {
  background-color: var(--mediumgreen);
  color: hsl(0, 0%, 100%);
}

.profile-view-orders {
  text-decoration: none;
  color: var(--mediumgreen);
  font-weight: bold;
  font-size: 1rem;
}

.profile-logout {
  color: var(--mediumgreen);
  border: none;
  background: none;
  padding: 0;
}
